@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"); */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Sans-Serif';
  background-color: #202142;
  line-height: 1.6;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 568px;
  margin: 100px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.list {
    margin: 20 10;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #7bef93;
  background: linear-gradient(to bottom, #00c728 5%, #00b925 100%);
  background-color: #00c728;
  border-radius: 6px;
  border: 1px solid #2ad74c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2eb249;
}
.myButton:hover {
  background: linear-gradient(to bottom, #00b925 5%, #00c728 100%);
  background-color: #00b925;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.center {
  align-self: flex-end;
}